
.automation-tab-item[data-v-c8aa8086] {
    color: var(--ui-text);
}
.automation-tab-item[data-v-c8aa8086]:hover {
    background: var(--ui-surface-soft);
}
.automation-tab-item--active[data-v-c8aa8086] {
    background: var(--ui-surface-soft);
    color: var(--ui-secondary);
    font-weight: 600;
}
